aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
colorama
contourpy
cycler
datasets
dill
easyocr
Faker
filelock
fonttools
frozenlist
fsspec
hf-xet
huggingface-hub
idna
imageio
Jinja2
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
pandas
pillow
propcache
pyarrow
pyclipper
pyparsing
python-bidi
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-image
scipy
shapely
six
sympy
tifffile
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl

